* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-image: url('bg4.jpg');
    background-size: cover;
    background-position: top center;
    color: white;
}

.app-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}

header input {
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid #31f8ff;
    color: #000;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-in-out;
}

header input:focus {
    background-color: #ceebff;
}

main {
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.location .city {
    font-size: 32px;
    font-weight: medium;
    margin-bottom: 5px;
}

.location .date {
    font-size: 16px;
}

.current .temp {
    color: #e8f4fc;
    font-size: 102px;
    font-weight: 900;
    margin: 30px 0px;
    text-shadow: 1px 1px #31f8ff,
    2px 8px rgba(0, 0, 0, 0.5);
}

.current .temp span {
    font-weight: 500;
}

.current .weather {
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.current .hi-low {
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
}